@import "../../scss/variables";
.dots {
    position: absolute;
    top: 1rem;
    right: 1rem;
    .dot {
        width: 8px;
        height: 8px;
        // border-radius: 50%;
        background-color: $colorWhiteTransparent30;
        margin: $space2 0;
        cursor: pointer;
        &:hover {
            background-color: $colorWhiteTransparent60; 
        }
    }
    .dotActive {
        background-color: $colorWhiteTransparent80;
        height: 4rem;
        &:hover {
            background-color: white; 
        }
    }
}

