@use "../../scss/reset";
@use "../../scss/variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
font-family: $lato;

}
h1 {
  font-family: $playfair;
  font-size: 3rem;
  color: $colorNeutralDark;
  padding-bottom: $space3;
}
h2 {
  font-family: $lato;
  font-size: 1.5rem;
  color: $colorNeutralDark;
  padding-bottom: $space3;
  line-height: 150%;
}
p {
  font-size: 1rem;
  line-height: 150%;
  color: $colorNeutralDark;
  margin: 1rem 0;
  max-width: 50rem;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.container {
  width: 90%;
  margin: 0 auto;
  @media screen and ($tablet) {
      width: 80%;
    }
    @media screen and ($desktop) {
      max-width: $sizeContent;
    }
}
.btn {
  display: inline-block;
  padding: $space3 $space4;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-family: $lato;
  cursor: pointer;
}
.btnPrimary {
  background-color: $colorAccent;
  color: white;
}
section {
  padding-top: $space6;
}
/* FORM STYLES START */

form {
  display: flex;
  flex-direction: column;
  gap: $space2;
  width: 100%;
  margin: $space4 0;
  max-width: 30rem;
}

label {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 150%;
  color: $colorNeutralDark;
}

input,
textarea {
  border: 1px solid $colorNeutralLight;
  outline: none;
  color: $colorNeutralDark;
  font-size: 1rem;
  font-family: $lato;
  margin-top: $space1;
  margin-bottom: $space3;
  background-color: transparent;
}
input {
  height: 2.5rem;
  padding: 0 $space2;
  width: 100%;
}
textarea {
  height: 6rem;
  width: 100%;
  padding: $space2;
  resize: none;
  display: block;
}
input::placeholder,
textarea::placeholder {
  color: $colorNeutralLight;
  font-size: 1rem;
  font-family: $lato;
}
label:focus-within {
  color: $colorPrimary;
}
input:focus,
textarea:focus {
  border-color: $colorPrimary;
}

.checkbox > div,
.radio > div {
  font-size: .8rem;
  line-height: 120%;
  text-transform: initial;
}
.checkbox:focus-within,
.radio:focus-within {
  color: $colorNeutralDark;
}
.checkbox input,
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox,
.radio {
  cursor: pointer;
  display: flex;
}
.checkbox span,
.radio span {
  width: $space3;
  height: $space3;
  flex-shrink: 0;
  flex-basis: $space3;
  border: 1px solid $colorNeutralLight;
  outline: none;
  cursor: pointer;
  margin-right: $space3;
}


.checkbox input:checked + span {
  background-color: $colorPrimary;
}
span.errorMessage,
span.successMessage {
  display: inline-block;
  border: none;
  width: auto;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}
span.errorMessage {
  color: $colorAccent;
}
span.successMessage {
  color: $colorSecondary;
}
button {
  border: none;
  margin: $space5 0;
}
/* FORM STYLES END */