@import "../../scss/variables";


.headerContact {
    display: none;
}

@media screen and ($tablet) {
    .headerContact {
        background-color: $colorNeutralDark;
        height: 2rem;
        color: $colorWhite;
        font-size: .9rem;
        display: flex;
        align-items: center;
        text-align: right;
        span {
            margin-right: 2rem;
            
        }
    } 
}
@media screen and ($desktop) {
    .headerContact {
        span:nth-child(2) {
            margin-right: 0;
        }
        span:last-child {
            display: none;
        }
    }
}