@import "../../scss/variables";

.smSideIcons {
  display: none;
}
.smSideIcons a {
  display: inline-block;
}
.smMenuIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: $space4;
  a {
    margin: $space6 0;
  }
}
.smFooterIcons {
  position: relative;
  z-index: 1;
  left: -1.5rem;
}
.smIcon {
  height: 2rem;
  position: relative;
  z-index: 5;
  margin: $space3 $sizeGutter;
  cursor: pointer;
}
@media screen and ($tablet) {
  div.smMenuIcons {
    display: none;
  }
  .smFooterIcons {
    text-align: right;
    top: 6rem;
    left: 1.5rem;
  }
}
@media screen and ($desktop) {
  .smSideIcons {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: $space3;
    left: 0;
  }
}
