@import "../../scss/variables";

.footer {
  background-color: $colorNeutralDark;
  padding: 4rem 0;
  padding-bottom: 8rem;
  position: relative;
  p,
  span {
    color: $colorWhite;
  }
  .logoContainer {
    display: flex;
    align-items: center;
    gap: $space3;
    img {
      height: 48px;
      opacity: 90%;
    }
    span {
      text-transform: uppercase;
      line-height: 140%;
    }
  }
.footerLinksContainer {
    display: none;
    @media screen and ($desktop) {
    display: flex;
    gap: $space6;
    align-items: center;
    }
}
.footerLink {
    color: $colorWhite;
    cursor: pointer;
    text-transform: uppercase; 
}

  .footerBottom {
    font-size: 0.8rem;
    position: absolute;
    bottom: 2rem;
    a {
        cursor: pointer;
    }
  }
  .footerContact {
    margin: $space5 0;
    span {
      display: block;
      margin-bottom: $space3;
    }
  }
}
