//colors
$colorPrimary: #AC4989;
$colorSecondary: #bd6da0;
$colorAccent: #A22074;
$colorNeutral: #707070;
$colorNeutralDark: #232323;
$colorNeutralLight: #dcdcdc;
$colorError: #ad0071;
$colorWhite:  #f5f5f5;
$colorWhiteTransparent10: rgba(255, 255, 255, 0.1);
$colorWhiteTransparent30: rgba(255, 255, 255, 0.3);
$colorWhiteTransparent60: rgba(255, 255, 255, 0.6);
$colorWhiteTransparent80: rgba(255, 255, 255, 0.8);

//spaces
$space1: 0.25rem;
$space2: 0.5rem;
$space3: 1rem;
$space4: 1.5rem;
$space5: 2rem;
$space6: 3rem;
$sizeContent: 1080px;
$sizeGutter: $space4;
$sizeGap: $space6;

//fonts
$lato: 'Lato', sans-serif;
$playfair: 'Playfair Display', serif;

//breakpoints
$mobile: "max-width: 360px";
$tablet_s: "min-width: 500px";
$tablet: "min-width: 700px";
$desktop_s: "min-width: 1000px";
$desktop: "min-width: 1100px"; 