//colors
$colorPrimary: #AC4989;
$colorSecondary: #BD6DA0;
$colorAccent: #A22074;
$colorNeutral: #707070;
$colorNeutralDark: #1A1A1A;
$colorNeutralLight: #E0E0E0;
$colorError: #ad0071;


//fonts
$lato: 'Lato', sans-serif;
$playfair: 'Playfair Display', serif;

//breakpoints
$tablet_s: "min-width: 500px";
$tablet: "min-width: 700px";
$desktop_s: "min-width: 1000px";
$desktop: "min-width: 1100px"; 